<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/assets/chassis/chassis.css">
  <link rel="stylesheet" href="https://www.arnoldclark.com/cdn/css/static/fontshim.css" media="print" onload="this.media='all'" />
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<body>
  {% include 'header.html' %}
  {{ content }}
  {% include 'footer.html' %}
</body>
</html>